.edit-page {
    width: 100%;
    margin: 2% auto;
    display: flex;
    flex-direction: row;
}
 
.text-page {
    margin-left: 10px;
    margin-right: 10px;
    width: 60%;
    position: relative;
}

.test {
    margin-right: 10px;
    width: 40%;
}

.editor-box{    
    margin-top: -60px;
}

.title{
    margin-top: -40px;
    display: flex;
    flex-direction: row;
}

.back-icon{
    padding-top: 28px;
    padding-right: 30px;
}
  