html body #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.game-canvas-parent {
  width: 45vw;
  height: 100vh;
  position: relative;
}

.game-canvas-child {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-image: url(../public/gameCanvas.jpeg);
  background-size: cover;
}
